.nav-pills > li > a.active {
    background-color: transparent !important;
    color: #ffffff !important;
    border-bottom: solid#ffffff 2px;

  }
  
  .nav-pills > li > a:hover {
    color: #ffffff !important;
  }
  
  .nav-pills > li >a {
    color:black !important;
  }