.nav-pills > li > a.active {
    background-color: transparent !important;
    color: #ffffff !important;
    border-bottom: solid#ffffff 2px;

  }
  
  .nav-pills > li > a:hover {
    color: #ffffff !important;
  }
  
  .nav-pills > li >a {
    color:black !important;
  }

  .card-title{
    min-width: 239px;
  }

 /*Opções para editar a barra de scroll*/ 

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}